@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }


@media print {
    
 
 #navbar,
 #footer,
 #print-btn,
 #voucherDropdown,
 #addRowBtn{
    display: none;
 }   


 #table{
    border-radius: 0rem;
    overflow: hidden;
    page-break-inside: avoid;
    box-shadow: none;

 }

 #print-content{
    /* margin-top: 0; */
    padding: 0rem;
    box-shadow: none;
    width: 595px; /* A5 size width in pixels (half of A4) */
    height: 800px; /* A5 size height in pixels (same as A4) */
    page-break-inside:avoid; /* Force page break after each invoice */
    box-sizing: border-box;
    overflow: hidden;
 }


 #address{
    padding: 0;
    display: flex;
    /* margin-top: auto; */
    
 }

#invoiceFooter{
 flex-direction: row;
}
#invoiceHeader{
    flex-direction: row;
    margin-bottom: 5px;
    /* margin-bottom: 0px; */
}



 /* tabel */
    #tabel-head th{
        /* border: 1px black solid; */
        font-size: 12px;
        padding: 8px;

    }

  
    #tr td{
        font-size: 12px;
        color: black;
        /* border: 1px black solid; */
        padding-block: 1px;
        padding-top: 4px;
    }

    #tr td input {
        padding: 0;
        font-size: 12px;
    }


    #tr{
        padding: 0rem;
    }

    #customerInfo li{
        gap: 1rem;
    }

    input::placeholder ,textarea::placeholder{
        opacity: 0;
    }

     label{
        font-size:12px;
    }
    .grip{
        display: none;
    }

    .footer {
        /* margin-top: 0px; */
        width:50mm;

    }

    .footer span p{
        font-size: 10px;
        text-align: left;
        padding: 10px 16px 10px 16px;
       /* border: 1px solid black; */

    }

    .footer span input{
        font-size: 10px;
        padding: 10px 16px 10px 16px;
       /* border: 1px solid black; */
        border-radius: 0px;

    }

    #note{
        font-size: 11px;
        
    }

    
    .footer span {
        /* border: 0px; */
        font-size: 11px;
        text-align: left;
       
    }

    
#receiver-Info label,
#receiver-Info > input , 
#receiver-Info > textarea {
    font-size: 12px;
}


}

